DirectoryIndex Test.php7

Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) Test.php7
#RewriteRule ^(([a-zA-Z0-9_]+/)*([a-zA-Z0-9_]+))/$ index.php?Mode=$1&%{QUERY_STRING}